{% extends "base.html" %}

{% block content %}
        <h1>Hello About</h1>
        <h2>This is a Template</h2>
        <h3>{{ title|capfirst|upper }}</h3>
        {{ my_html|safe }}
        <p>
                 {{ my_number }}, {{ my_list }}
        </p>

        <ul>
                {% for abc in my_list %}
                    {% if abc == 456 %}
                    <li>{{ forloop.counter }} - {{ abc|add:10 }}</li>
                    {% elif abc == 123 %}
                    <li>Crazy stuff!</li>
                    {% else %}
                    <li>{{ forloop.counter }} - {{ abc }}</li>
                    {% endif %}
                {% endfor %}
        </ul>
{% endblock %}
    